@use "sass:map";

@function get-map-key($map, $keys) {
	@if type-of($map) != map {
		@error "$map is not a map.";
	}

	@each $key in $keys {
		@if not map.has-key($map, $key) {
			@error "Nonexistent map key.";
		}
		$map: map.get($map, $key);
	}

	@return $map;
}

@function set-font-relative-length($reference-value, $lengths, $unit: null) {
	@if type-of($reference-value) != number or not unitless($reference-value) {
		@error "$reference-value must be a unitless number.";
	}

	$values: ();

	@each $length in $lengths {
		@if type-of($length) != number or not unitless($length) {
			@error "$lengths must be one or multiple unitless numbers.";
		}
		$values: append($values, if($length == 0, 0, ($length / $reference-value) + $unit));
	}

	@return $values;
}