$font-family				:	(
	"alternative"			:	null,
	"header"				:	("Open Sans", sans-serif),
	"text"					:	("Open Sans", sans-serif)
);

$font-face					:	(
	"alternative"			:	(
		"src"				:	null,
		"stretch"			:	null,
		"style"				:	null,
		"unicode-range"		:	null,
		"variant"			:	null,
		"weight"			:	null
	),
	"header"				:	(
		"src"				:	null,
		"stretch"			:	null,
		"style"				:	null,
		"unicode-range"		:	null,
		"variant"			:	null,
		"weight"			:	null
	),
	"text"					:	(
		"src"				:	null,
		"stretch"			:	null,
		"style"				:	null,
		"unicode-range"		:	null,
		"variant"			:	null,
		"weight"			:	null
	)
);

@each $family, $data in $font-face {
	$src: map-get($data, "src");
	@if $src {
		@for $i from 1 through length($src) {
			@font-face {
				font-family: nth(ff($family), 1);
				font-stretch: nth(map-get($data, "stretch"), $i);
				font-style: nth(map-get($data, "style"), $i);
				font-variant: nth(map-get($data, "variant"), $i);
				font-weight: nth(map-get($data, "weight"), $i);
				src: nth($src, $i);
				unicode-range: nth(map-get($data, "unicode-range"), $i);
			}
		}
	}
}