:root {
	font-size: 62.5%;
}

body {
	hyphens: auto;
}

#header {
	.column {
		position: relative;
	}
}

main {
}

#footer {
}

.column {
	margin: 0 auto;
	max-width: w(grid("columns"), "rem");
}

[class*="col-"] {
	box-sizing: border-box;
}

[class*="-pull-"],
[class*="-push-"] {
	position: relative;
}