html, body,
header, footer, section, article, aside, nav,
h1, h2, h3, h4, h5, h6,
p, a, span, small, address, time, abbr, blockquote, q, cite,
figure, img,
div, ol, ul, li, dl, dt, dd,
form, fieldset, legend, label, input, select, option, textarea, button,
tr, th, td,
progress, iframe {
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: top;
}

a {
	outline: 0;
	text-decoration: none;
}

small {
	font-size: inherit;
}

q::before,
q::after {
	content: none;
}

cite {
	font-style: normal;
}

ol,
ul {
	list-style: none;
}

input,
select,
textarea {
	&:focus {
		outline: 0;
	}
}

input[type="reset"],
input[type="submit"],
button {
	cursor: pointer;
}

button {
	background: none;
	outline: 0;
}

table {
	border-collapse: collapse;
}