a {
	text-decoration: none;
}

blockquote,
body,
dd,
dialog,
dl,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
ol,
p,
pre,
textarea,
ul {
	margin: 0;
}

button,
input,
select,
small,
textarea {
	font-size: inherit;
}

button,
input,
select,
textarea {
	font-family: inherit;
}

button[type="button"] {
	background: none;
}

button[type="button"],
fieldset,
hr,
iframe {
	border: 0;
}

button:not(:disabled),
input[type="reset"]:not(:disabled),
input[type="submit"]:not(:disabled) {
	cursor: pointer;
}

fieldset,
legend,
ol,
ul {
	padding: 0;
}

pre {
	overflow-x: auto;
}

ol,
ul {
	list-style: none;
}