html {
	font-size: $html-font-size + px;
}

h1, h2, h3, h4, h5, h6,
dt,
legend,
th,
.h1, .h2, .h3, .h4, .h5, .h6 {
	color: c("header");
	font-family: ff("header");
	font-weight: 700;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	a {
		color: inherit;
		&:hover {
			color: c("link");
		}
	}
}

body,
p, small, address, time, abbr, blockquote, q, cite,
li, dd,
label, input, select, option, textarea, button,
td {
	color: c("text");
	font-family: ff("text");
	font-size: rem(14);
	line-height: rem(24);
}

h1, h2, h3, h4, h5, h6,
p, a,
svg,
div, ol, ul, li, dt, dd,
label, input, select, option, textarea, button,
td,
.h1, .h2, .h3, .h4, .h5, .h6 {
	transition: all trsdu("fast");
}

header, footer, section, article, aside, nav,
figure,
div, ol, ul, dl,
form, fieldset,
tr,
iframe {
	line-height: 0;
}

::selection {
	background: c("black");
	color: c("white");
}

h1,
.h1 {
	font-size: rem(40);
	line-height: rem(48);
	+ h2,
	+ .h2 {
		margin-top: 0px;
	}
	+ p,
	+ ol,
	+ ul,
	+ dl {
		margin-top: 0px;
	}
}

h2,
.h2 {
	font-size: rem(30);
	line-height: rem(36);
	+ h3,
	+ .h3 {
		margin-top: 0px;
	}
	+ p,
	+ ol,
	+ ul,
	+ dl {
		margin-top: 0px;
	}
	p + &,
	ol + &,
	ul + &,
	dl + & {
		margin-top: 0px;
	}
}

h3,
.h3 {
	font-size: rem(21);
	line-height: rem(24);
	+ h4,
	+ .h4 {
		margin-top: 0px;
	}
	+ p,
	+ ol,
	+ ul,
	+ dl {
		margin-top: 0px;
	}
	p + &,
	ol + &,
	ul + &,
	dl + & {
		margin-top: 0px;
	}
}

h4,
.h4 {
}

h5,
.h5 {
}

h6,
.h6 {
}

p {
	+ p,
	+ ol,
	+ ul,
	+ dl,
	+ form {
		margin-top: 0px;
	}
	ol + &,
	ul + &,
	dl + & {
		margin-top: 0px;
	}
	small {
		color: inherit;
		font-size: inherit;
		line-height: inherit;
	}
}

a {
	color: c("link");
	fill: inherit;
	&:hover {
	}
}