::selection {
	background: black;
	color: white;
}

body,
input, select, textarea, button {
	color: c("text");
	font-family: ff("text");
	font-size: 1.4rem;
	line-height: 2.4rem;
}

.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6,
dt,
legend,
th {
	color: c("header");
	font-family: ff("header");
	font-weight: 700;
	a {
		color: inherit;
		&:focus,
		&:hover {
			color: c("link");
		}
	}
}

.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6,
p, a,
img, svg,
div, ol, ul, li, dl, dt, dd,
form, label, input, select, option, textarea, button,
th, td,
progress {
	transition: all trsdu("fast");
}

.h1,
h1 {
	font-size: 4rem;
	line-height: lh(4, 4.8);
	+ .h2,
	+ h2 {
		margin-top: 0rem;
	}
	+ p,
	+ ol,
	+ ul,
	+ dl {
		margin-top: 0rem;
	}
}

.h2,
h2 {
	font-size: 3rem;
	line-height: lh(3, 3.6);
	+ .h3,
	+ h3 {
		margin-top: 0rem;
	}
	+ p,
	+ ol,
	+ ul,
	+ dl {
		margin-top: 0rem;
	}
	p + &,
	ol + &,
	ul + &,
	dl + & {
		margin-top: 0rem;
	}
}

.h3,
h3 {
	font-size: 2.1rem;
	line-height: lh(2.1, 2.4);
	+ .h4,
	+ h4 {
		margin-top: 0rem;
	}
	+ p,
	+ ol,
	+ ul,
	+ dl {
		margin-top: 0rem;
	}
	p + &,
	ol + &,
	ul + &,
	dl + & {
		margin-top: 0rem;
	}
}

p {
	+ p,
	+ ol,
	+ ul,
	+ dl,
	+ form {
		margin-top: 0rem;
	}
	ol + &,
	ul + &,
	dl + & {
		margin-top: 0rem;
	}
}

a {
	color: c("link");
	fill: inherit;
	&:focus,
	&:hover {
		color: black;
	}
}