#<IfModule mod_rewrite.c>
	#RewriteEngine on

	#Redirects from non-www to www
	#RewriteCond %{HTTP_HOST} !^$
	#RewriteCond %{HTTP_HOST} !^www\. [NC]
	#RewriteCond %{HTTPS}s ^on(s)|
	#RewriteRule ^ http%1://www.%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

	#Redirects from www to non-www
	#RewriteCond %{HTTP_HOST} ^www\.
	#RewriteCond %{HTTPS}s ^on(s)|off
	#RewriteCond http%1://%{HTTP_HOST} ^(https?://)(www\.)?(.+)$
	#RewriteRule ^ %1%3%{REQUEST_URI} [R=301,L]
#</IfModule>