# <IfModule mod_rewrite.c>
	# RewriteEngine On

	# Redirect www to non-www
	# RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
	# RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

	# Redirect non-www to www
	# RewriteCond %{HTTP_HOST} !^www\. [NC]
	# RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]
# </IfModule>