.alert {
	border-style: solid;
	border-width: 0rem;
	box-sizing: border-box;
	padding: 0rem;
	position: relative;
	transition: none;
	&.error {
		background: c("error");
		border-color: darken(c("error"), 15%);
		color: white;
		fill: white;
	}
	&.success {
		background: c("success");
		border-color: darken(c("success"), 15%);
		color: white;
		fill: white;
	}
	&.warning {
		background: c("warning");
		border-color: darken(c("warning"), 15%);
		color: c("text");
		fill: c("text");
	}
	&.fixed {
		box-shadow: 0 0 0rem black;
		left: 50%;
		max-width: 34.8rem;
		position: fixed;
		top: 50%;
		transform: translate(-50%, -50%);
		width: calc(100% - #{grid("gutter") / 2});
		z-index: z("alert");
	}
	.h2, .h3, .h4,
	h2, h3, h4,
	p, a, small,
	li, dt, dd {
		color: inherit;
	}
	.close {
		&:focus,
		&:hover {
			filter: invert(100%);
		}
	}
}