.button {
	background: null;
	height: null;
	line-height: null;
	padding: null;
	&:focus,
	&:hover {
	}
}

.close-button {
	fill: null;
	height: null;
	padding: null;
	width: null;
	&:focus,
	&:hover {
	}
}