form {
	.description {
	}
	div {
		margin-top: 0rem;
	}
}

fieldset {
}

legend {
}

label {
	display: block;
}

.form-element,
input[type="date"],
input[type="email"],
input[type="file"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
select,
option,
textarea {
	background: white;
	border: 0rem solid black;
	box-sizing: border-box;
	color: black;
	height: 0rem;
	line-height: 0rem;
	padding: 0 0rem;
	width: 100%;
	&:focus {
		background: black;
		color: white;
	}
}

.form-element.input-file {
	overflow: hidden;
	padding-right: 0rem;
	position: relative;
	text-overflow: ellipsis;
	white-space: nowrap;
	&::before {
		background: black;
		color: white;
		content: "Browse...";
		padding: 0 0rem;
		position: absolute;
		right: 0;
		top: 0;
	}
	&::after {
		color: inherit;
		content: attr(data-file);
	}
	input {
		cursor: pointer;
		left: 0;
		opacity: 0;
		position: absolute;
	}
}

input,
select,
textarea {
	&:invalid {
	}
	&:valid {
	}
	&[disabled] {
	}
}

input[type="checkbox"],
input[type="radio"] {
}

select {
}

option {
	border: 0;
}

textarea {
	height: 0rem;
	line-height: 0rem;
	resize: vertical;
}


// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Fixes

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

select {
	padding-left: 0rem; // This padding-left must be less than the one settled above because browsers add like a phantom "text-indent" value.
	padding-right: 0; // IE fix till version 11 at least.
}

:-ms-input-placeholder {
	color: black;
}

:focus:-ms-input-placeholder {
	color: white;
}

::-moz-placeholder {
	color: black;
	opacity: 1;
}

:focus::-moz-placeholder {
	color: white;
}

::-webkit-input-placeholder {
	color: black;
}

:focus::-webkit-input-placeholder {
	color: white;
}