form {
	.description {
	}
	div {
		margin-top: 0rem;
	}
}

fieldset {
}

legend {
}

label {
	display: block;
}

.form-control {
	background: white;
	box-sizing: border-box;
	color: black;
	height: 0rem;
	line-height: 0rem;
	padding: 0 0rem;
	width: 100%;
	&:disabled {
		cursor: not-allowed;
	}
	&:focus,
	&:focus-within {
		background: black;
		color: white;
		&::placeholder {
			color: red;
		}
	}
	&:invalid {
	}
	&:placeholder-shown {
	}
	&:valid {
	}
	&::placeholder {
		color: red;
	}
	&.input-file {
		margin: 0;
		overflow: hidden;
		padding-right: 0rem;
		position: relative;
		text-overflow: ellipsis;
		white-space: nowrap;
		&:focus-within,
		&:hover {
			&::before {
				background: white;
				color: black;
			}
		}
		&::before {
			background: black;
			color: white;
			content: "Browse...";
			padding: 0 0rem;
			position: absolute;
			right: 0;
			top: 0;
			transition: all trsdu("fast");
		}
		&::after {
			color: inherit;
			content: attr(data-file);
		}
		input {
			cursor: pointer;
			left: 0;
			opacity: 0;
			position: absolute;
		}
	}
}

input[type="checkbox"],
input[type="radio"] {
	&:indeterminate {
	}
}

select {
}

option {
}

textarea {
	resize: vertical;
	&.form-control {
		height: 0rem;
		line-height: 0rem;
	}
}


// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Fixes

::-moz-placeholder {
	opacity: 1;
}