.modal {
	background: null;
	border: 0;
	box-sizing: border-box;
	color: null;
	max-height: calc(100vh - var(--gd-column-gap) * 2);
	max-width: calc(100vw - var(--gd-column-gap) * 2);
	overflow: auto;
	padding: null;
	width: null;
	z-index: var(--z-modal);
	&::backdrop {
		background: null;
	}
	&[open] {
	}
}