.modal {
	background: rgba(black, 1);
	bottom: 0;
	display: none;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	transition: none;
	z-index: z("modal");
	&[data-modal-open] {
		animation: trsdu("slow") fade-in;
		display: block;
	}
	> div {
		background: white;
		box-sizing: border-box;
		left: 50%;
		max-width: 46.8rem;
		padding: 0rem 0rem;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
	}
	.close {
		fill: black;
		&:focus,
		&:hover {
			fill: black;
		}
	}
}