.modal {
	background: rgba(c("black"), 1);
	bottom: 0;
	display: none;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	transition: none;
	z-index: z("modal");
	&[data-modal-open] {
		animation: trsdu("slow") fade-in;
		display: block;
	}
	> div {
		background: c("white");
		box-sizing: border-box;
		left: 50%;
		padding: 0px 0px;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 308px;
	}
	.close {
		fill: c("black");
		&:hover {
			fill: c("black");
		}
	}
}