#burger {
	display: flex;
	flex-flow: column;
	height: null;
	justify-content: space-between;
	padding: null;
	&:focus,
	&:hover {
		--i-burger--bg: null;
	}
	span {
		background: var(--i-burger--bg, null);
		height: null;
		overflow: hidden;
		white-space: nowrap;
		width: null;
	}
}

#nav {
	ol {
		display: flex;
	}
}