#header nav {
	li {
	}
	a,
	button {
	}
}

.nav-responsive {
	height: 6rem;
	overflow: hidden;
	position: absolute;
	right: 0rem;
	top: 0rem;
	width: 100%;
	span {
		background: black;
		display: block;
		height: 0.4rem;
		margin: 0 0 0 auto;
		position: relative;
		text-indent: 4.8rem;
		white-space: nowrap;
		width: 2.4rem;
		&::before,
		&::after {
			background: inherit;
			content: "";
			height: 100%;
			left: 0;
			position: absolute;
			width: 100%;
		}
		&::before {
			top: -200%;
		}
		&::after {
			bottom: -200%;
		}
	}
}


// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Media queries

@media (max-width: 47.75em) {
	#header nav {
		overflow: hidden;
		&.open {
			li {
				border-top-width: 0.1rem;
				height: 0rem;
				opacity: 1;
			}
		}
		li {
			border-top: 0 solid black;
			height: 0;
			opacity: 0;
			transition: all trsdu("normal"), border trsdu("fast");
		}
	}
}

@media (min-width: 48em) {
	#header nav {
		li {
			display: inline-block;
			+ li {
				margin-left: 0rem;
			}
		}
	}
	.nav-responsive {
		display: none;
	}
}