.pagination {
	&.number {
		li {
		}
		button {
			&:focus,
			&:hover,
			&.active {
			}
		}
	}
	&.shape {
		li {
		}
		button {
			height: 0rem;
			width: 0rem;
			&:focus,
			&:hover,
			&.active {
			}
		}
	}
	.active {
		cursor: auto;
	}
}