.pagination {
	&.number {
		li {
		}
		button {
			&.active,
			&:focus,
			&:hover {
			}
		}
	}
	&.shape {
		li {
		}
		button {
			height: 0rem;
			overflow: hidden;
			text-indent: 200%;
			white-space: nowrap;
			width: 0rem;
			&.active,
			&:focus,
			&:hover {
			}
		}
	}
	.active {
		cursor: auto;
	}
}