progress {
	background: black;
	color: red;
	display: block;
	width: 100%;
	&:indeterminate {
	}
}


// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Fixes

progress::-moz-progress-bar {
	background: red;
}

progress::-webkit-progress-bar {
	background: black;
}

progress::-webkit-progress-value {
	background: red;
}