$social-media			:	(
	"facebook"			:	0rem,
	"feed"				:	0rem,
	"google-plus"		:	0rem,
	"instagram"			:	0rem,
	"linkedin"			:	0rem,
	"pinterest"			:	0rem,
	"spotify"			:	0rem,
	"tumblr"			:	0rem,
	"twitter"			:	0rem,
	"vimeo"				:	0rem,
	"youtube"			:	0rem
);

.social-media {
	@each $social-network, $width in $social-media {
		.#{$social-network} {
			background: c($social-network);
			&:focus,
			&:hover {
				background: lighten(c($social-network), 10%);
			}
			svg {
				width: $width;
			}
		}
	}
	li {
		display: inline-block;
		+ li {
			margin-left: 0rem;
		}
	}
	a {
		display: block;
		fill: white;
		height: 0rem;
		overflow: hidden;
		width: 0rem;
	}
}