$social-media			:	(
	"facebook"			:	0px,
	"feed"				:	0px,
	"google-plus"		:	0px,
	"instagram"			:	0px,
	"linkedin"			:	0px,
	"myspace"			:	0px,
	"pinterest"			:	0px,
	"twitter"			:	0px,
	"vimeo"				:	0px,
	"youtube"			:	0px
);

.social-media {
	@each $social-network, $width in $social-media {
		.#{$social-network} {
			background: c($social-network);
			&:hover {
				background: lighten(c($social-network), 10%);
			}
			svg {
				width: $width;
			}
		}
	}
	li {
		height: 0px;
		width: 0px;
		+ li {
			margin-left: 0px;
		}
	}
	a {
		display: block;
		fill: c("white");
		height: inherit;
		overflow: hidden;
	}
}