nav.tabs {
	.active {
		cursor: auto;
	}
	li {
		display: inline-block;
	}
	button {
		color: black;
	}
}

div.tabs {
	overflow: hidden;
	transition-duration: trsdu("normal");
	.tab {
		display: none;
		&.active {
			animation: trsdu("slow") fade-in;
			display: block;
		}
	}
}