.tabs {
	.active {
		cursor: auto;
	}
	li {
		display: inline-block;
	}
	button {
		color: black;
		&.active,
		&:focus,
		&:hover {
		}
	}
}

.tabs-content {
	overflow: hidden;
	transition-duration: trsdu("normal");
}

.tab-panel {
	display: none;
}