.tooltip {
	cursor: null;
	position: relative;
	&.bottom {
		--tooltip--t: calc(100% + null);
	}
	&.bottom,
	&.top {
		--tooltip--l: 50%;
		--tooltip--trf: translateX(-50%);
	}
	&.left {
		--tooltip--r: calc(100% + null);
	}
	&.left,
	&.right {
		--tooltip--t: 50%;
	}
	&.right {
		--tooltip--l: calc(100% + null);
	}
	&.top {
		--tooltip--b: calc(100% + null);
	}
	&:focus,
	&:hover {
		--tooltip--op: 1;
		--tooltip--pe: auto;
	}
	&::before {
		background: null;
		bottom: var(--tooltip--b, auto);
		color: null;
		content: attr(data-tooltip);
		font-size: null;
		inline-size: max-content;
		left: var(--tooltip--l, auto);
		line-height: null;
		opacity: var(--tooltip--op, 0);
		padding: null;
		pointer-events: var(--tooltip--pe, none);
		position: absolute;
		right: var(--tooltip--r, auto);
		top: var(--tooltip--t, auto);
		transform: var(--tooltip--trf, translateY(-50%));
		transition: null;
		z-index: 1;
	}
}