.cycle2 {
	position: relative;
	ul {
		li {
		}
	}
	.paginado {
		text-align: center;
		li {
			cursor: pointer;
			display: inline-block;
			height: 0px;
			width: 0px;
			&:hover,
			&.activo {
			}
			& + li {
				margin-left: 0px;
			}
		}
	}
	.anterior,
	.siguiente {
		cursor: pointer;
		height: 0px;
		position: absolute;
		top: 0px;
		width: 0px;
		z-index: 311;
		&:hover {
		}
	}
	.anterior {
		left: 0px;
	}
	.siguiente {
		right: 0px;
	}
}