.emergente {
	background: rgba(c("negro"), 1);
	bottom: 0;
	display: none;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	transition: none;
	z-index: z("emergente");
	> div {
		background: c("blanco");
		box-sizing: border-box;
		left: 50%;
		padding: 0px 0px;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 308px;
	}
	.cerrar {
		fill: c("negro");
		&:hover {
			fill: c("negro");
		}
	}
}