.emergente {
	background: rgba($color-negro, 1.0);
	bottom: 0;
	display: none;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	transition: none;
	z-index: 622;
	& > div {
		background: $color-blanco;
		box-sizing: border-box;
		margin: 0 auto;
		padding: 0px 0px;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		width: 308px;
	}
	.cerrar {
		fill: $color-gris-0;
		&:hover {
			fill: $color-gris-0;
		}
	}
}