form {
	div {
		+ div {
			margin-top: 0px;
		}
	}
	button,
	input[type="reset"],
	input[type="submit"] {
	}
	.descripcion {
	}
}

fieldset {
}

legend {
}

label {
	display: block;
}

input[type="date"],
input[type="email"],
input[type="file"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
select,
option,
textarea,
.campo {
	background: c("blanco");
	border: 1px solid c("negro");
	box-sizing: border-box;
	color: c("negro");
	height: 0px;
	line-height: 0px;
	padding: 0 0px;
	width: 100%;
	&:focus {
		background: c("negro");
		color: c("blanco");
	}
}

input,
select,
textarea {
	&[disabled] {
		background: c("negro");
		color: c("blanco");
	}
}

input[type="checkbox"],
input[type="radio"] {
}

select {
}

option {
	border: 0;
}

textarea {
	height: 0px;
	resize: vertical;
}

.campo.input-file {
	overflow: hidden;
	padding-right: 0px;
	position: relative;
	text-overflow: ellipsis;
	white-space: nowrap;
	&:before {
		background: c("negro");
		color: c("blanco");
		content: "Subir archivo...";
		padding: 0 0px;
		position: absolute;
		right: 0;
		top: 0;
	}
	&:after {
		color: inherit;
		content: attr(data-archivo);
	}
	input {
		cursor: pointer;
		left: 0;
		opacity: 0;
		position: absolute;
	}
}


// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Fixes

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

select {
	padding-right: 0; // IE fix hasta la versión 11 al menos.
	padding-left: 0px; // El padding-left tiene que ser menor al establecido ya que los navegadores ponen un "text-indent" fantasma.
}

::-moz-placeholder {
	color: c("negro");
	opacity: 1;
}

:-ms-input-placeholder {
	color: c("negro");
}

::-webkit-input-placeholder {
	color: c("negro");
}