@media print {
	* {
		box-shadow: none !important;
		text-shadow: none !important;
	}
	body {
		background: none;
	}
	#encabezado,
	#pie {
		display: none;
	}
	h1,
	h2,
	h3,
	h4 {
		page-break-inside: avoid;
	}
	abbr[title]:after {
		content: " (" attr(title) ")";
	}
	a {
		color: $color-texto !important;
		&[href^="http"] {
			text-decoration: underline;
			&:after {
				content: " (" attr(href) ")";
			}
		}
	}
	img {
		max-width: 100% !important;
	}
}