.mensaje {
	border-style: solid;
	border-width: 0px;
	box-sizing: border-box;
	padding: 0px 0px;
	position: relative;
	transition: none;
	&.fixed {
		box-shadow: 0 0 6px c("negro");
		left: 50%;
		position: fixed;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 308px;
		z-index: z("mensaje");
	}
	&.alerta {
		background: #FFF4C3;
		border-color: #F9E488;
		color: #CA910A;
		fill: #CA910A;
	}
	&.error {
		background: #FFD7D0;
		border-color: #FFB1A3;
		color: #E93D30;
		fill: #E93D30;
	}
	&.satisfactorio {
		background: #DDFFEF;
		border-color: #B9DDCC;
		color: #18A964;
		fill: #18A964;
	}
	h2, h3,
	p, small, a,
	li, dt, dd,
	.h2, .h3 {
		color: inherit;
	}
	.cerrar {
		fill: c("negro");
		opacity: 0.5;
		&:hover {
			fill: inherit;
			opacity: 1;
		}
	}
}