$redes-sociales		:	(
	"facebook"		:	10px,
	"feed"			:	10px,
	"google-plus"	:	10px,
	"instagram"		:	10px,
	"linkedin"		:	10px,
	"myspace"		:	10px,
	"pinterest"		:	10px,
	"twitter"		:	10px,
	"vimeo"			:	10px,
	"youtube"		:	10px
);

.redes-sociales {
	li {
		height: 0px;
		width: 0px;
		+ li {
			margin-left: 0px;
		}
		@each $red-social, $ancho in $redes-sociales {
			&.#{$red-social} {
				background: c($red-social);
				&:hover {
					background: lighten(c($red-social), 10%);
				}
				svg {
					width: $ancho;
				}
			}
		}
	}
	a {
		display: block;
		height: inherit;
		overflow: hidden;
	}
	svg {
		fill: c("blanco");
	}
}