.slideshow {
	position: relative;
	.slides {
		li {
			transition: none;
		}
	}
	.paginado {
	}
	.anterior,
	.siguiente {
		box-sizing: border-box;
		fill: c("negro");
		height: 100%;
		overflow: hidden;
		padding: 0 0px;
		position: absolute;
		top: 0;
		width: 72px;
		z-index: z("contenido");
		&:hover {
			fill: c("negro");
			padding: 0 0px;
		}
		svg {
			margin: 0;
			width: 0px;
		}
	}
	.anterior {
		left: 0;
	}
	.siguiente {
		right: 0;
		svg {
			margin-left: auto;
		}
	}
}