.tooltip {
	position: relative;
	&:hover {
		&:before,
		&:after {
			opacity: 1;
			visibility: visible;
		}
	}
	&:before,
	&:after {
		opacity: 0;
		position: absolute;
		transition: all trsdu("rapida");
		visibility: hidden;
		z-index: z("visible");
	}
	&:before {
		border: 4px solid transparent;
		content: "";
		height: 0;
		width: 0;
	}
	&:after {
		background: c("negro");
		border-radius: 0px;
		color: c("blanco");
		content: attr(data-tooltip);
		font-size: 11px;
		line-height: 15px;
		padding: 0px 0px;
		white-space: nowrap;
	}
	&.extenso {
		&:after {
			text-align: center;
			white-space: normal;
			width: w(3, "px");
		}
	}
	&.superior,
	&.inferior {
		&:before,
		&:after {
			left: 50%;
			transform: translateX(-50%);
		}
	}
	&.derecha,
	&.izquierda {
		&:before,
		&:after {
			top: 50%;
			transform: translateY(-50%);
		}
	}
	&.superior {
		&:before {
			border-top-color: c("negro");
			top: -2px;
		}
		&:after {
			bottom: calc(100% + 2px);
		}
	}
	&.derecha {
		&:before {
			border-right-color: c("negro");
			right: -6px;
		}
		&:after {
			left: calc(100% + 6px);
		}
	}
	&.inferior {
		&:before {
			border-bottom-color: c("negro");
			bottom: -3px;
		}
		&:after {
			top: calc(100% + 3px);
		}
	}
	&.izquierda {
		&:before {
			border-left-color: c("negro");
			left: -6px;
		}
		&:after {
			right: calc(100% + 6px);
		}
	}
}