$color-gris-0: #000000;
$color-gris-1: #111111;
$color-gris-2: #222222;
$color-gris-3: #333333;
$color-gris-4: #444444;
$color-gris-5: #555555;
$color-gris-6: #666666;
$color-gris-7: #777777;
$color-gris-8: #888888;
$color-gris-9: #999999;
$color-gris-A: #AAAAAA;
$color-gris-B: #BBBBBB;
$color-gris-C: #CCCCCC;
$color-gris-D: #DDDDDD;
$color-gris-E: #EEEEEE;
$color-gris-F: #FFFFFF;

$color-negro: #000000;
$color-blanco: #FFFFFF;

$color-encabezado: $color-gris-3;
$color-texto: $color-gris-3;

$color-facebook: #3B5998;
$color-feed: #FF8226;
$color-google-plus: #dd4b39;
$color-instagram: #3f729b;
$color-linkedin: #0075B2;
$color-myspace: #008DDE;
$color-pinterest: #CB2028;
$color-twitter: #00B0ED;
$color-vimeo: #1AB7EA;
$color-youtube: #E52D27;