$fuente							:	(
	"encabezado"				:	("Open Sans", sans-serif),
	"texto"						:	("Open Sans", sans-serif)
);

$fuente-local					:	(
	"encabezado"				:	null,
	"encabezado-variable"		:	null,
	"encabezado-style"			:	null,
	"encabezado-weight"			:	null,
	"texto"						:	"OpenSans",
	"texto-variable"			:	"LightItalic"	"Regular"	"Bold",
	"texto-style"				:	italic			normal		normal,
	"texto-weight"				:	300				400			700
);

@if map-get($fuente-local, "encabezado") != null {
	@for $i from 1 through length(map-get($fuente-local, "encabezado-variable")) {
		@font-face {
			font-family: nth(ff("encabezado"), 1);
			font-style: nth(map-get($fuente-local, "encabezado-style"), $i);
			font-weight: nth(map-get($fuente-local, "encabezado-weight"), $i);
			src: url("#{$fuente-url + map-get($fuente-local, encabezado) + "-" + nth(map-get($fuente-local, encabezado-variable), $i)}.ttf");
		}
	}
	@if nth(ff("encabezado"), 1) != nth(ff("texto"), 1) {
		@for $i from 1 through length(map-get($fuente-local, "texto-variable")) {
			@font-face {
				font-family: nth(ff("texto"), 1);
				font-style: nth(map-get($fuente-local, "texto-style"), $i);
				font-weight: nth(map-get($fuente-local, "texto-weight"), $i);
				src: url("#{$fuente-url + map-get($fuente-local, texto) + "-" + nth(map-get($fuente-local, texto-variable), $i)}.ttf");
			}
		}
	}
}