$columnas		:	12;
$columnas-ancho	:	60px;
$columnas-calle	:	24px;
$interlineado	:	20px;

$media-queries	:	(
	"xxs"		:	320px,
	"xs"		:	480px,
	"s"			:	640px,
	"m"			:	768px,
	"l"			:	992px,
	"xl"		:	1200px
);