$tipografia-encabezado					:	"Open Sans";
$tipografia-encabezado-backup			:	sans-serif;
$tipografia-texto						:	"Open Sans";
$tipografia-texto-backup				:	sans-serif;


// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Si la tipografía se carga localmente...

$tipografia-encabezado-local			:	null;
$tipografia-encabezado-local-style		:	null;
$tipografia-encabezado-local-variable	:	null;
$tipografia-encabezado-local-weight		:	null;

$tipografia-texto-local					:	"OpenSans";
$tipografia-texto-local-style			:	italic,			normal,		normal;
$tipografia-texto-local-variable		:	"LightItalic",	"Regular",	"Bold";
$tipografia-texto-local-weight			:	300,			400,		700;

@if $tipografia-encabezado-local != null {
	@for $i from 1 through length($tipografia-encabezado-local-weight) {
		@font-face {
			font-family: $tipografia-encabezado;
			font-style: nth($tipografia-encabezado-local-style, $i);
			font-weight: nth($tipografia-encabezado-local-weight, $i);
			src: url("../fuentes/#{$tipografia-encabezado-local + "-" + nth($tipografia-encabezado-local-variable, $i)}.ttf");
		}
	}
	@if $tipografia-encabezado != $tipografia-texto {
		@for $i from 1 through length($tipografia-texto-local-weight) {
			@font-face {
				font-family: $tipografia-texto;
				font-style: nth($tipografia-texto-local-style, $i);
				font-weight: nth($tipografia-texto-local-weight, $i);
				src: url("../fuentes/#{$tipografia-texto-local + "-" + nth($tipografia-texto-local-variable, $i)}.ttf");
			}
		}
	}
}