$bdrs				:	0px;
$img-url			:	"../img/";
$trs				:	0.2s;
$z-index			:	(
	"oculto"		:	-1,
	"visible"		:	1,
	"contenido"		:	111,
	"desplegable"	:	211,
	"emergente"		:	311,
	"mensaje"		:	411,
	"publicidad"	:	511
);