body {
}

#encabezado {
	position: relative;
}

main {
}

#pie {
}

.columna {
	margin-left: auto;
	margin-right: auto;
	max-width: w(grilla("columnas"), "px");
}

[class*="col-"] {
	box-sizing: border-box;
	display: inline-block;
}

[class*="-empuje-"],
[class*="-tire-"] {
	position: relative;
}


// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Media queries

@each $media-query, $data in $media-queries {
	$calle: map-get($data, "calle");
	$columnas: grilla("columnas");
	@media (min-width: map-get($data, "ancho-minimo")) {
		@if $calle {
			$calle: $calle / 2;
			.columna,
			.columnas [class*="col-"] {
				padding-left: $calle;
				padding-right: $calle;
			}
			.columnas {
				margin-left: 0 - $calle;
				margin-right: 0 - $calle;
			}
		}
		@for $i from 1 through $columnas {
			$ancho: 100% / ($columnas / $i);
			.col-#{$media-query + "-" + $i} {
				width: $ancho;
			}
			.col-#{$media-query + "-empuje-" + $i} {
				left: $ancho;
			}
			.col-#{$media-query + "-tire-" + $i} {
				left: 0 - ($ancho);
			}
		}
		.col-#{$media-query}-empuje-0,
		.col-#{$media-query}-tire-0 {
			left: auto;
		}
	}
}