html, body,
header, footer, section, article, aside, nav,
h1, h2, h3, h4, h5, h6,
p, span, small, address, time, abbr, blockquote, q, cite, a,
figure, img,
div, ol, ul, li, dl, dt, dd,
form, fieldset, legend, label, input, select, option, textarea, button,
tr, th, td,
iframe {
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: top;
}

q:before,
q:after {
	content: none;
}

cite {
	font-style: normal;
}

a {
	outline: 0;
	text-decoration: none;
}

ol,
ul {
	list-style: none;
}

input,
select,
textarea {
	&:focus {
		outline: 0;
	}
}

input[type="reset"],
input[type="submit"],
button {
	cursor: pointer;
}

button {
	background-color: transparent;
	outline: 0;
}

table {
	border-collapse: collapse;
}

article,
aside,
header,
footer,
main,
nav,
section {
	display: block;
}