h1, h2, h3, h4, h5, h6,
dt,
legend,
th {
	color: c("encabezado");
	font-family: $tipografia-encabezado, $tipografia-encabezado-backup;
	font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
	a {
		color: inherit;
		&:hover {
		}
	}
}

body,
p, small, address, time, abbr, blockquote, q, cite,
li, dd,
label,
td {
	color: c("texto");
	font-family: $tipografia-texto, $tipografia-texto-backup;
	font-size: 13px;
	line-height: map-get($grilla, "interlineado");
}

input, select, option, textarea, button {
	font-family: $tipografia-texto, $tipografia-texto-backup;
	font-size: 13px;
}

img,
textarea {
	line-height: map-get($grilla, "interlineado");
}

a,
svg,
div, li, dd,
label, input, select, option, textarea, button,
td {
	transition: all $trs;
}

header, footer, section, article, aside, nav,
figure,
div, ol, ul, dl,
form, fieldset,
tr,
iframe {
	line-height: 0;
}

::selection {
	background: c("gris-3");
	color: c("blanco");
}

h1 {
	font-size: 30px;
	line-height: 30px;
	& + h2 {
		margin-top: 0px;
	}
	& + p,
	& + ol,
	& + ul,
	& + dl {
		margin-top: 0px;
	}
}

h2 {
	font-size: 18px;
	line-height: 18px;
	& + h3 {
		margin-top: 0px;
	}
	& + p,
	& + ol,
	& + ul,
	& + dl {
		margin-top: 0px;
	}
	p + &,
	ol + &,
	ul + &,
	dl + & {
		margin-top: 0px;
	}
}

h3 {
	font-size: 13px;
	line-height: 13px;
	& + p,
	& + ol,
	& + ul,
	& + dl {
		margin-top: 0px;
	}
	p + &,
	ol + &,
	ul + &,
	dl + & {
		margin-top: 0px;
	}
}

h4 {
}

p {
	& + p,
	& + ol,
	& + ul,
	& + dl,
	& + form {
		margin-top: 0px;
	}
	ol + &,
	ul + &,
	dl + & {
		margin-top: 0px;
	}
	small {
		color: inherit;
		font-size: inherit;
		font-weight: inherit;
		line-height: inherit;
	}
}

a {
	color: c("gris-0");
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	&:hover {
	}
}